<ng-include src="'views/navbar.html'"></ng-include>
<div class="row">
    <div class="col-md-10 col-md-offset-1 navbar-inverse">
        <div class="container-fluid">
            <br/>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img ng-src="{{userProfile.avatar[0]}}" alt="{{userName}}" style='max-width:100%;' class='img-circle' />
                </div>
                <div class="col-md-5">
                    <h3>{{username}}</h3>
                    <div ng-repeat='(key, info) in userProfile'>
                        <div ng-show='info != "" && translate.keyMe[key]'>
                            {{translate.keyMe[key]}} : {{translate.keyMeVal[info] ? translate.keyMeVal[info] : info}}
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class='gender' style='background-color:#2964A3' ng-show='userProfile.sexe == 0'>&#9794;</div>
                    <div class='gender' style='background-color:#F152FF' ng-show='userProfile.sexe == 1'>&#9792;</div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-4 col-md-2" ng-repeat='user in profiles | filter:userSearch | limitTo:12 '>
                    <div class="thumbnail">
                        <abbr style='position:absolute;right:10%' title='En ligne'>
                            <span class='glyphicon glyphicon-asterisk' style='color:green'></span>
                        </abbr>
                        <a href="#/meet/{{user._id}}"><img ng-src="{{user.profile.avatar[0].replace('s=48','s=256')}}" alt="{{user.nickname}}" /></a>
                        <div class="caption text-center">
                            <a href="#/meet/{{user._id}}" ng-class='user.profile.sexe?"femme":"homme"'>
                                <p style='text-transform:capitalize;font-variant:small-caps;margin-bottom:0;'>{{user.nickname}}</p>
                                <p style='margin-bottom:8px;'>{{user.profile.sexe?'Femme':'Homme'}} {{randomAge()}} ans</p>
                            </a>
                            <button type="button" class="btn btn-danger">
                                <span class='glyphicon glyphicon-heart'></span>
                            </button>
                            <button type="button" class="btn btn-info">
                                <span class='glyphicon glyphicon-ice-lolly-tasted'></span>
                            </button>
                            <button type="button" class="btn btn-success">
                                <span class='glyphicon glyphicon-bed'></span>
                            </button>
                            <button type="button" class="btn btn-warning">
                                <span class='glyphicon glyphicon-remove'></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>