<ng-include src="'views/navbar.html'"></ng-include>
<div class="row">
    <div class="col-md-10 col-md-offset-1 navbar-inverse">
        <div class="container-fluid">
            <br/>
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="{{userPic}}" alt="{{userName}}" class='img-circle'/>
                </div>
                <div class="col-md-8">
                    <h3>{{username}}</h3>
                    <div ng-repeat='(key, info) in userProfile'>
                        <div ng-show='info != "" && translate.keyMe[key]'>
                            {{translate.keyMe[key]}}
                            :
                            {{translate.keyMeVal[info] ? translate.keyMeVal[info] : info}}
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-4 col-md-2" ng-repeat='user in profiles '>
                    <div class="thumbnail">
                        <abbr style='position:absolute;right:10%' title='En ligne'>
                            <span class='glyphicon glyphicon-asterisk' style='color:green'></span>
                        </abbr>
                        <img src="{{userPic}}" alt="{{user.nickname}}"/>
                        <div class="caption text-center">
                            <p style='text-transform:capitalize;font-variant:small-caps;margin-bottom:0;'>{{user.nickname}}</p>
                            <p style='margin-bottom:8px;'>20 ans</p>
                            <button type="button" class="btn btn-success">
                                <span class='glyphicon glyphicon-ok'></span>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <span class='glyphicon glyphicon-remove'></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
