<ng-include src="'views/navbar.html'"></ng-include>
<div class="row">
    <div class="col-md-10 col-md-offset-1 navbar-inverse">
        <div class="container-fluid">
            <br/>
            <form name="userUpdateProfileForm">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-files-added="toBase64($files)" class="ng-scope">
                            <div class="pictureUserCreation text-center" ng-show="!$flow.files.length">
                                <img flow-btn ng-src="user.profile.avatar[0] ? user.profile.avatar[0] : 'assets/yoan_profil.jpg'" alt="You" style='max-width:100%;' class='img-circle' />
                            </div>
                            <div class="pictureUserCreation ng-hide text-center" ng-show="$flow.files.length">
                                <img flow-btn flow-img="$flow.files[0]" style='max-width:100%;' class='img-circle'>
                            </div>
                            <div class="text-center visible-lg">
                                <span class="btn btn-link" ng-show="!$flow.files.length" flow-btn>
                                <b class='white'>
                                    <span class='glyphicon glyphicon-download'></span> Modifier
                                </b>
                                <input type="file" class='hide'>
                                </span>
                                <span class="btn btn-link ng-hide" ng-show="$flow.files.length" flow-btn>
                                <b class='white'>
                                    <span class='glyphicon glyphicon-download'></span> Modifier
                                </b>
                                <input type="file" class='hide'>
                                </span>
                                <span class="btn btn-link ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                                <b class='white white-danger'>
                                    <span class='glyphicon glyphicon-remove-circle'></span>
                                </b>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon">Pseudo</span>
                            <input required type="text" class="form-control" name="nickname" id="nickname" placeholder="Ton pseudo" ng-model='user.nickname' ng-maxlength="12" ng-pattern="/^[A-Za-z0-9]+$/" ng-trim='false' />
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon">T'es où</span>
                            <input required type="text" class="form-control" placeholder="La Loupe, Londres, Bayonne..." ng-model='user.profile.city' ng-autocomplete='result_city' options="{types: '(cities)'}" />
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class='gender' style='background-color:#2964A3' ng-show='user.profile.sexe == 0'>&#9794;</div>
                        <div class='gender' style='background-color:#F152FF' ng-show='user.profile.sexe == 1'>&#9792;</div>
                    </div>
                </div>
                <hr/>
                <h3 class="text-center" style="margin-bottom: 50px; font-weigth: bolder; font-size: 30px">A PROPOS DE TOI</h3>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="col-md-6">
                            <label class="question">Es-tu prêt à t'engager dans une relation ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="user.profile.convenant=='Souhaites s\'engager'?'active':'notactive'" ng-click="user.profile.convenant = 'Souhaites s\'engager'">C'est mon souhait</li>
                                <li ng-class="user.profile.convenant=='Laisse faire le hasard'?'active':'notactive'" ng-click="user.profile.convenant = 'Laisse faire le hasard'">Laissons faire le hasard</li>
                                <li ng-class="user.profile.convenant=='Ne veut pas'?'active':'notactive'" ng-click="user.profile.convenant = 'Ne veut pas'">Pas du tout</li>
                                <li ng-class="user.profile.convenant==''?'active':'notactive'" ng-click="user.profile.convenant = ''">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Quel est ton statut marital ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="user.profile.married=='Jamais mariée'?'active':'notactive'" ng-click="user.profile.married = 'Jamais mariée'">Jamais mariée</li>
                                <li ng-class="user.profile.married=='Séparée'?'active':'notactive'" ng-click="user.profile.married = 'Séparée'">Séparée</li>
                                <li ng-class="user.profile.married=='Divorcée'?'active':'notactive'" ng-click="user.profile.married = 'Divorcée'">Divorcée</li>
                                <li ng-class="user.profile.married=='Veuf'?'active':'notactive'" ng-click="user.profile.married = 'Veuf'">Veuf</li>
                                <li ng-class="user.profile.married=='Mariée'?'active':'notactive'" ng-click="user.profile.married = 'Mariée'">Mariée</li>
                                <li ng-class="user.profile.married==''?'active':'notactive'" ng-click="user.profile.married = ''">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Es-tu parent ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="user.profile.children=='J\'en ai'?'active':'notactive'" ng-click="user.profile.children = 'J\'en ai'">J'en ai</li>
                                <li ng-class="user.profile.children=='Je n\'en ai pas'?'active':'notactive'" ng-click="user.profile.children = 'Je n\'en ai pas'">Je n'en ai pas</li>
                                <li ng-class="user.profile.children==''?'active':'notactive'" ng-click="user.profile.children = ''">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Envie d'enfants ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="user.profile.wantChildren=='J\'en veux'?'active':'notactive'" ng-click="user.profile.wantChildren = 'J\'en veux'">J'en veux</li>
                                <li ng-class="user.profile.wantChildren=='Je n\'en veux pas'?'active':'notactive'" ng-click="user.profile.wantChildren = 'Je n\'en veux pas'">Je n'en veux pas</li>
                                <li ng-class="user.profile.wantChildren=='Je ne sais pas encore'?'active':'notactive'" ng-click="user.profile.wantChildren = 'Je ne sais pas encore'">Je ne sais pas encore</li>
                                <li ng-class="user.profile.wantChildren==''?'active':'notactive'" ng-click="user.profile.wantChildren = ''">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Ta taille ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="user.profile.height=='+200'?'active':'notactive'" ng-click="user.profile.height = '+200'">+200</li>
                                <li ng-class="user.profile.height=='180-200'?'active':'notactive'" ng-click="user.profile.height = '180-200'">180-200</li>
                                <li ng-class="user.profile.height=='170-180'?'active':'notactive'" ng-click="user.profile.height = '170-180'">170-180</li>
                                <li ng-class="user.profile.height=='150-170'?'active':'notactive'" ng-click="user.profile.height = '150-170'">150-170</li>
                                <li ng-class="user.profile.height=='Nain'?'active':'notactive'" ng-click="user.profile.height = 'Nain'">Nain</li>
                                <li ng-class="user.profile.height==''?'active':'notactive'" ng-click="user.profile.height = ''">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Ton poids ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="user.profile.weight=='-50'?'active':'notactive'" ng-click="user.profile.weight = '-50'">Moins de 50</li>
                                <li ng-class="user.profile.weight=='50-60'?'active':'notactive'" ng-click="user.profile.weight = '50-60'">50-60</li>
                                <li ng-class="user.profile.weight=='60-70'?'active':'notactive'" ng-click="user.profile.weight = '60-70'">60-70</li>
                                <li ng-class="user.profile.weight=='70-80'?'active':'notactive'" ng-click="user.profile.weight = '70-80'">70-80</li>
                                <li ng-class="user.profile.weight=='80-90'?'active':'notactive'" ng-click="user.profile.weight = '80-90'">80-90</li>
                                <li ng-class="user.profile.weight=='90-100'?'active':'notactive'" ng-click="user.profile.weight = '90-100'">90-100</li>
                                <li ng-class="user.profile.weight=='+100'?'active':'notactive'" ng-click="user.profile.weight = '+100'">Plus de 100</li>
                                <li ng-class="user.profile.weight=='+9000'?'active':'notactive'" ng-click="user.profile.weight = '+9000'">It's over 9000</li>
                                <li ng-class="user.profile.weight==''?'active':'notactive'" ng-click="user.profile.weight = ''">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Tes cheveux ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="user.profile.hairLenght=='De la moquette'?'active':'notactive'" ng-click="user.profile.hairLenght = 'De la moquette'">Je marche dessus</li>
                                <li ng-class="user.profile.hairLenght=='Hyper longs'?'active':'notactive'" ng-click="user.profile.hairLenght = 'Hyper longs'">Hyper longs</li>
                                <li ng-class="user.profile.hairLenght=='Longs'?'active':'notactive'" ng-click="user.profile.hairLenght = 'Longs'">Longs</li>
                                <li ng-class="user.profile.hairLenght=='Moyens'?'active':'notactive'" ng-click="user.profile.hairLenght = 'Moyens'">Moyens</li>
                                <li ng-class="user.profile.hairLenght=='Courts'?'active':'notactive'" ng-click="user.profile.hairLenght = 'Courts'">Courts</li>
                                <li ng-class="user.profile.hairLenght=='Très courts'?'active':'notactive'" ng-click="user.profile.hairLenght = 'Très courts'">Très courts</li>
                                <li ng-class="user.profile.hairLenght=='Rasé'?'active':'notactive'" ng-click="user.profile.hairLenght = 'Rasé'">Rasé</li>
                                <li ng-class="user.profile.hairLenght=='Aucun'?'active':'notactive'" ng-click="user.profile.hairLenght = 'Aucun'">Vous avez-dit cheveux ?</li>
                                <li ng-class="user.profile.hairLenght==''?'active':'notactive'" ng-click="user.profile.hairLenght = ''">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">La couleur de tes cheveux ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="user.profile.hairColor=='Roses'?'active':'notactive'" ng-click="user.profile.hairColor = 'Roses'">Rosé pamplemouse</li>
                                <li ng-class="user.profile.hairColor=='Verts'?'active':'notactive'" ng-click="user.profile.hairColor = 'Verts'">Vert dur</li>
                                <li ng-class="user.profile.hairColor=='Blonds'?'active':'notactive'" ng-click="user.profile.hairColor = 'Blonds'">Blond surfeur</li>
                                <li ng-class="user.profile.hairColor=='Blancs'?'active':'notactive'" ng-click="user.profile.hairColor = 'Blancs'">Blancs en neige</li>
                                <li ng-class="user.profile.hairColor=='Bleus'?'active':'notactive'" ng-click="user.profile.hairColor = 'Bleus'">Bleus chataîn</li>
                                <li ng-class="user.profile.hairColor=='Gris'?'active':'notactive'" ng-click="user.profile.hairColor = 'Gris'">Gris taupe-provenciale</li>
                                <li ng-class="user.profile.hairColor=='Vert'?'active':'notactive'" ng-click="user.profile.hairColor = 'Vert'">Vert de macédoine</li>
                                <li ng-class="user.profile.hairColor=='Brun'?'active':'notactive'" ng-click="user.profile.hairColor = 'Brun'">Brun terre de sienne</li>
                                <li ng-class="user.profile.hairColor=='Propres'?'active':'notactive'" ng-click="user.profile.hairColor = 'Propres'">Propre</li>
                                <li ng-class="user.profile.hairColor=='Stéphanie'?'active':'notactive'" ng-click="user.profile.hairColor = 'Stéphanie'">Stéphanie de Monaco</li>
                                <li ng-class="user.profile.hairColor==''?'active':'notactive'" ng-click="user.profile.hairColor = ''">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Tes origines</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="user.profile.origin=='Breton'?'active':'notactive'" ng-click="user.profile.origin = 'Breton'">Bretonne</li>
                                <li ng-class="user.profile.origin=='Celte'?'active':'notactive'" ng-click="user.profile.origin = 'Celte'">Celte</li>
                                <li ng-class="user.profile.origin=='Basque'?'active':'notactive'" ng-click="user.profile.origin = 'Basque'">Basque</li>
                                <li ng-class="user.profile.origin=='Germanique'?'active':'notactive'" ng-click="user.profile.origin = 'Germanique'">Germanique</li>
                                <li ng-class="user.profile.origin=='Romane'?'active':'notactive'" ng-click="user.profile.origin = 'Romane'">Romane</li>
                                <li ng-class="user.profile.origin=='Navarroise'?'active':'notactive'" ng-click="user.profile.origin = 'Navarroise'">Navarroise</li>
                                <li ng-class="user.profile.origin=='Occitano-catalane'?'active':'notactive'" ng-click="user.profile.origin = 'Occitano-catalane'">Occitano-catalane</li>
                                <li ng-class="user.profile.origin=='Gallo-italique'?'active':'notactive'" ng-click="user.profile.origin = 'Gallo-italique'">Gallo-italique</li>
                                <li ng-class="user.profile.origin=='Créole'?'active':'notactive'" ng-click="user.profile.origin = 'Créole'">Créole</li>
                                <li ng-class="user.profile.origin=='Polynésienne'?'active':'notactive'" ng-click="user.profile.origin = 'Polynésienne'">Polynésienne</li>
                                <li ng-class="user.profile.origin==''?'active':'notactive'" ng-click="user.profile.origin = ''">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <p style="margin: 30px;">
                            <button type="button" class="btn btn-block btn-lg btn-white" ng-click='sendProfile()'>
                                Mettre à jour son profil
                            </button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
