<ng-include src="'views/navbar.html'"></ng-include>
<div class="row">
    <div class="col-md-10 col-md-offset-1 navbar-inverse">
        <div class="container-fluid">
            <br/>
            <form name="userUpdateProfileForm">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-files-added="toBase64($files)" class="ng-scope">
                            <div class="pictureUserCreation text-center" ng-show="!$flow.files.length">
                                <img flow-btn src="assets/yoan_profil.jpg" alt="You" style='max-width:100%;' class='img-circle' />
                            </div>
                            <div class="pictureUserCreation ng-hide text-center" ng-show="$flow.files.length">
                                <img flow-btn flow-img="$flow.files[0]" style='max-width:100%;' class='img-circle'>
                            </div>
                            <div class="text-center visible-lg">
                                <span class="btn btn-link" ng-show="!$flow.files.length" flow-btn>
                                <b class='white'>
                                    <span class='glyphicon glyphicon-download'></span> Modifier
                                </b>
                                <input type="file" class='hide'>
                                </span>
                                <span class="btn btn-link ng-hide" ng-show="$flow.files.length" flow-btn>
                                <b class='white'>
                                    <span class='glyphicon glyphicon-download'></span> Modifier
                                </b>
                                <input type="file" class='hide'>
                                </span>
                                <span class="btn btn-link ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                                <b class='white white-danger'>
                                    <span class='glyphicon glyphicon-remove-circle'></span>
                                </b>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">T'es d'où ?</span>
                            <input required type="text" class="form-control" placeholder="La Loupe, Londres, Bayonne..." ng-model='datas["city"]' ng-autocomplete='result_city' options="{types: '(cities)'}" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Pseudo</span>
                            <input required type="text" class="form-control" name="nickname" id="nickname" placeholder="Ton pseudo" ng-model='datas["nickname"]' ng-maxlength="12" ng-pattern="/^[A-Za-z0-9]+$/" ng-trim='false' />
                        </div>
                    </div>
                </div>
                <hr/>
                <h3 class="text-center" style="margin-bottom: 50px; font-weigth: bolder; font-size: 30px">A PROPOS DE TOI</h3>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="col-md-6">
                            <label class="question">Es-tu prêt à t'engager dans une relation ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="inputProfileVal=='Souhaites s\'engager'?'active':'notactive'" ng-click="changeInputProfileVal('Souhaites s\'engager')">C'est mon souhait</li>
                                <li ng-class="inputProfileVal=='Laisse faire le hasard'?'active':'notactive'" ng-click="changeInputProfileVal('Laisse faire le hasard')">Laissons faire le hasard</li>
                                <li ng-class="inputProfileVal=='Ne veut pas'?'active':'notactive'" ng-click="changeInputProfileVal('Ne veut pas')">Pas du tout</li>
                                <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Quel est ton statut marital ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="inputProfileVal=='Jamais mariée'?'active':'notactive'" ng-click="changeInputProfileVal('Jamais mariée')">Jamais mariée</li>
                                <li ng-class="inputProfileVal=='Séparée'?'active':'notactive'" ng-click="changeInputProfileVal('Séparée')">Séparée</li>
                                <li ng-class="inputProfileVal=='Divorcée'?'active':'notactive'" ng-click="changeInputProfileVal('Divorcée')">Divorcée</li>
                                <li ng-class="inputProfileVal=='Veuf'?'active':'notactive'" ng-click="changeInputProfileVal('Veuf')">Veuf</li>
                                <li ng-class="inputProfileVal=='Mariée'?'active':'notactive'" ng-click="changeInputProfileVal('Mariée')">Mariée</li>
                                <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Es-tu parent ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="inputProfileVal=='J\'en ai'?'active':'notactive'" ng-click="changeInputProfileVal('J\'en ai')">J'en ai</li>
                                <li ng-class="inputProfileVal=='Je n\'en ai pas'?'active':'notactive'" ng-click="changeInputProfileVal('Je n\'en ai pas')">Je n'en ai pas</li>
                                <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Envie d'enfants ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="inputProfileVal=='J\'en veux'?'active':'notactive'" ng-click="changeInputProfileVal('J\'en veux')">J'en veux</li>
                                <li ng-class="inputProfileVal=='Je n\'en veux pas'?'active':'notactive'" ng-click="changeInputProfileVal('Je n\'en veux pas')">Je n'en veux pas</li>
                                <li ng-class="inputProfileVal=='Je ne sais pas encore'?'active':'notactive'" ng-click="changeInputProfileVal('Je ne sais pas encore')">Je ne sais pas encore</li>
                                <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Ta taille ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="inputProfileVal=='+200'?'active':'notactive'" ng-click="changeInputProfileVal('+200')">+200</li>
                                <li ng-class="inputProfileVal=='180-200'?'active':'notactive'" ng-click="changeInputProfileVal('180-200')">180-200</li>
                                <li ng-class="inputProfileVal=='170-180'?'active':'notactive'" ng-click="changeInputProfileVal('170-180')">170-180</li>
                                <li ng-class="inputProfileVal=='150-170'?'active':'notactive'" ng-click="changeInputProfileVal('150-170')">150-170</li>
                                <li ng-class="inputProfileVal=='Nain'?'active':'notactive'" ng-click="changeInputProfileVal('Nain')">Nain</li>
                                <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Ton poids ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="inputProfileVal=='-50'?'active':'notactive'" ng-click="changeInputProfileVal('-50')">Moins de 50</li>
                                <li ng-class="inputProfileVal=='50-60'?'active':'notactive'" ng-click="changeInputProfileVal('50-60')">50-60</li>
                                <li ng-class="inputProfileVal=='60-70'?'active':'notactive'" ng-click="changeInputProfileVal('60-70')">60-70</li>
                                <li ng-class="inputProfileVal=='70-80'?'active':'notactive'" ng-click="changeInputProfileVal('70-80')">70-80</li>
                                <li ng-class="inputProfileVal=='80-90'?'active':'notactive'" ng-click="changeInputProfileVal('80-90')">80-90</li>
                                <li ng-class="inputProfileVal=='90-100'?'active':'notactive'" ng-click="changeInputProfileVal('90-100')">90-100</li>
                                <li ng-class="inputProfileVal=='+100'?'active':'notactive'" ng-click="changeInputProfileVal('+100')">Plus de 100</li>
                                <li ng-class="inputProfileVal=='+9000'?'active':'notactive'" ng-click="changeInputProfileVal('+9000')">It's over 9000</li>
                                <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Tes cheveux ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="inputProfileVal=='De la moquette'?'active':'notactive'" ng-click="changeInputProfileVal('De la moquette')">Je marche dessus</li>
                                <li ng-class="inputProfileVal=='Hyper longs'?'active':'notactive'" ng-click="changeInputProfileVal('Hyper longs')">Hyper longs</li>
                                <li ng-class="inputProfileVal=='Longs'?'active':'notactive'" ng-click="changeInputProfileVal('Longs')">Longs</li>
                                <li ng-class="inputProfileVal=='Moyens'?'active':'notactive'" ng-click="changeInputProfileVal('Moyens')">Moyens</li>
                                <li ng-class="inputProfileVal=='Courts'?'active':'notactive'" ng-click="changeInputProfileVal('Courts')">Courts</li>
                                <li ng-class="inputProfileVal=='Très courts'?'active':'notactive'" ng-click="changeInputProfileVal('Très courts')">Très courts</li>
                                <li ng-class="inputProfileVal=='Rasé'?'active':'notactive'" ng-click="changeInputProfileVal('Rasé')">Rasé</li>
                                <li ng-class="inputProfileVal=='Aucun'?'active':'notactive'" ng-click="changeInputProfileVal('Aucun')">Vous avez-dit cheveux ?</li>
                                <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">La couleur de tes cheveux ?</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="inputProfileVal=='Roses'?'active':'notactive'" ng-click="changeInputProfileVal('Roses')">Rosé pamplemouse</li>
                                <li ng-class="inputProfileVal=='Verts'?'active':'notactive'" ng-click="changeInputProfileVal('Verts')">Vert dur</li>
                                <li ng-class="inputProfileVal=='Blonds'?'active':'notactive'" ng-click="changeInputProfileVal('Blonds')">Blond surfeur</li>
                                <li ng-class="inputProfileVal=='Blancs'?'active':'notactive'" ng-click="changeInputProfileVal('Blancs')">Blancs en neige</li>
                                <li ng-class="inputProfileVal=='Bleus'?'active':'notactive'" ng-click="changeInputProfileVal('Bleus')">Bleus chataîn</li>
                                <li ng-class="inputProfileVal=='Gris'?'active':'notactive'" ng-click="changeInputProfileVal('Gris')">Gris taupe-provenciale</li>
                                <li ng-class="inputProfileVal=='Vert'?'active':'notactive'" ng-click="changeInputProfileVal('Vert')">Vert de macédoine</li>
                                <li ng-class="inputProfileVal=='Brun'?'active':'notactive'" ng-click="changeInputProfileVal('Brun')">Brun terre de sienne</li>
                                <li ng-class="inputProfileVal=='Propres'?'active':'notactive'" ng-click="changeInputProfileVal('Propres')">Propre</li>
                                <li ng-class="inputProfileVal=='Stéphanie'?'active':'notactive'" ng-click="changeInputProfileVal('Stéphanie')">Stéphanie de Monaco</li>
                                <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <label class="question">Tes origines</label>
                        </div>
                        <div class="col-md-6">
                            <ul class="customSelect">
                                <li ng-class="inputProfileVal=='Breton'?'active':'notactive'" ng-click="changeInputProfileVal('Breton')">Bretonne</li>
                                <li ng-class="inputProfileVal=='Celte'?'active':'notactive'" ng-click="changeInputProfileVal('Celte')">Celte</li>
                                <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                                <li ng-class="inputProfileVal=='Germanique'?'active':'notactive'" ng-click="changeInputProfileVal('Germanique')">Germanique</li>
                                <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                                <li ng-class="inputProfileVal=='Romane'?'active':'notactive'" ng-click="changeInputProfileVal('Romane')">Romane</li>
                                <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                                <li ng-class="inputProfileVal=='Navarroise'?'active':'notactive'" ng-click="changeInputProfileVal('Navarroise')">Navarroise</li>
                                <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                                <li ng-class="inputProfileVal=='Occitano-catalane'?'active':'notactive'" ng-click="changeInputProfileVal('Occitano-catalane')">Occitano-catalane</li>
                                <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                                <li ng-class="inputProfileVal=='Gallo-italique'?'active':'notactive'" ng-click="changeInputProfileVal('Gallo-italique')">Gallo-italique</li>
                                <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                                <li ng-class="inputProfileVal=='Créole'?'active':'notactive'" ng-click="changeInputProfileVal('Créole')">Créole</li>
                                <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                                <li ng-class="inputProfileVal=='Polynésienne'?'active':'notactive'" ng-click="changeInputProfileVal('Polynésienne')">Polynésienne</li>
                                <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                                <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                            </ul>
                        </div>
                        <p style="margin: 30px;">
                            <button type="button" class="btn btn-block btn-lg btn-white">
                                Mettre à jour son profil
                            </button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>