body {
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    color: #fff;
}
html * {
    font-size: 18px;
}
.createAccount {
    padding: 40px;
    min-height: 500px;
    margin-top: 5%;
    opacity: .8;
    margin-bottom: 5%;
}
.pictureUserCreation {
    min-height: 300px;
    width: 100%;
    background: black;
}
.navbar-userCreation {
    opacity: .9;
}
.gender {
    width: 120px;
    height: 120px;
    display: inline-block;
    margin: 10%;
    margin-top: 4%;
    margin-bottom: 80px;
    cursor: pointer;
    background: grey;
    opacity: .5;
    line-height: 120px;
    text-align: center;
    font-size: 80px;
    border-radius: 100%;
}
.input-group *, .form-group * {
    background: none;
    border: none;
    font-size: 18px;
    color: #fff;
}
input-group .text-danger, .form-group .text-danger {
    color: #F57693;
}
.input-group input, .form-group input {
    border-bottom: 1px solid white;
    border-radius: 0;
    margin-bottom: 12px;
}
input[type]:focus, textarea:focus {
    box-shadow: none;
    border-color: cyan;
}
input.ng-invalid {
    border-color: white;
}
.setOpacity {
    opacity: 1;
}
.navbar-right li a, .btn-white {
    background-color: #ededed!important;
    color: #333!important;
    font-weight: bolder;
}
.userCreationNextBtn {
    position: absolute;
    bottom: 3%;
    right:1%;
    width:15%;
}
