body {
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;

    color: #fff;
}
* {
    font-size:18px;
}
h1 {
    margin-bottom:30px;
}
.createAccount {
    padding: 40px;
    min-height: 600px;
    margin-top: 5%;
    opacity: .9;
    margin-bottom: 5%;
}
.pictureUserCreation {
    min-height: 250px;
    max-width: 100%;
}
.navbar-userCreation {
    opacity: .9;
}
.gender {
    width: 120px;
    height: 120px;
    display: inline-block;
    margin: 10%;
    margin-top: 4%;
    margin-bottom: 80px;
    cursor: pointer;
    background: grey;
    opacity: .25;
    line-height: 120px;
    text-align: center;
    font-size: 80px;
    border-radius: 100%;
}
.input-group *, .form-group * {
    background: none;
    border: none;
    font-size: 18px;
    color: #fff;
}
.red {
    color:red;
}
.green {
    color:green;
}
.white {
    color:white;
    padding-left:5px;
}
.white span {
    font-size:22px;
    color: cyan;
}
.white-danger {
    list-style-type: none;
    color:white;
    padding-left:5px;
}
.white-danger span {
    color: red;
}
.input-group input {
    border-bottom: 1px solid white;
    border-radius: 0;
    margin-bottom: 12px;
}
input:focus, textarea:focus {
    box-shadow: none!important;
    border-color: cyan!important;
}
input.ng-invalid.ng-empty {
    border-color: white;
}
input.ng-invalid.ng-not-empty {
    border-color: red;
}
.setOpacity {
    opacity: 1;
}
.navbar-right li a, .btn-white {
    background-color: #ededed!important;
    color: #333!important;
    font-weight: bolder;
}
.userCreationNextBtn {
    position: absolute;
    bottom: 3%;
    right:1%;
    width:15%;
}
