<div class='row'>
    <div class="col-md-10 col-md-offset-1">
        <form name="userCreationForm">
            <div class="col-xs-12 col-md-5 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de toi
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">La couleur de tes cheveux ?</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputProfileVal=='Roses'?'active':'notactive'" ng-click="changeInputProfileVal('Roses')">Rosé pamplemouse</li>
                            <li ng-class="inputProfileVal=='Verts'?'active':'notactive'" ng-click="changeInputProfileVal('Verts')">Vert dur</li>
                            <li ng-class="inputProfileVal=='Blonds'?'active':'notactive'" ng-click="changeInputProfileVal('Blonds')">Blond surfeur</li>
                            <li ng-class="inputProfileVal=='Blancs'?'active':'notactive'" ng-click="changeInputProfileVal('Blancs')">Blancs en neige</li>
                            <li ng-class="inputProfileVal=='Bleus'?'active':'notactive'" ng-click="changeInputProfileVal('Bleus')">Bleus chataîn</li>
                            <li ng-class="inputProfileVal=='Gris'?'active':'notactive'" ng-click="changeInputProfileVal('Gris')">Gris taupe-provenciale</li>
                            <li ng-class="inputProfileVal=='Vert'?'active':'notactive'" ng-click="changeInputProfileVal('Vert')">Vert de macédoine</li>
                            <li ng-class="inputProfileVal=='Brun'?'active':'notactive'" ng-click="changeInputProfileVal('Brun')">Brun terre de sienne</li>
                            <li ng-class="inputProfileVal=='Propres'?'active':'notactive'" ng-click="changeInputProfileVal('Propres')">Propre</li>
                            <li ng-class="inputProfileVal=='Stéphanie'?'active':'notactive'" ng-click="changeInputProfileVal('Stéphanie')">Stéphanie de Monaco</li>
                            <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-2 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de l'autre
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">La couleur se ses cheveux ?</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputSearchVal=='Roses'?'active':'notactive'" ng-click="changeInputSearchVal('Roses')">Rosé pamplemouse</li>
                            <li ng-class="inputSearchVal=='Verts'?'active':'notactive'" ng-click="changeInputSearchVal('Verts')">Vert dur</li>
                            <li ng-class="inputSearchVal=='Blonds'?'active':'notactive'" ng-click="changeInputSearchVal('Blonds')">Blond surfeur</li>
                            <li ng-class="inputSearchVal=='Blancs'?'active':'notactive'" ng-click="changeInputSearchVal('Blancs')">Blancs en neige</li>
                            <li ng-class="inputSearchVal=='Bleus'?'active':'notactive'" ng-click="changeInputSearchVal('Bleus')">Bleus chataîn</li>
                            <li ng-class="inputSearchVal=='Gris'?'active':'notactive'" ng-click="changeInputSearchVal('Gris')">Gris taupe-provenciale</li>
                            <li ng-class="inputSearchVal=='Vert'?'active':'notactive'" ng-click="changeInputSearchVal('Vert')">Vert de macédoine</li>
                            <li ng-class="inputSearchVal=='Brun'?'active':'notactive'" ng-click="changeInputSearchVal('Brun')">Brun terre de sienne</li>
                            <li ng-class="inputSearchVal=='Propres'?'active':'notactive'" ng-click="changeInputSearchVal('Propres')">Propre</li>
                            <li ng-class="inputSearchVal=='Stéphanie'?'active':'notactive'" ng-click="changeInputSearchVal('Stéphanie')">Stéphanie de Monaco</li>
                            <li ng-class="inputSearchVal==''?'active':'notactive'" ng-click="changeInputSearchVal('')">Je m'en fiche</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button ng-disabled="inputProfileVal == 'non' || inputSearchVal == 'non'" type="button" class="btn col-xs-4 col-xs-offset-4 btn-lg btn-white" ng-click='save();step("next")'>
                    Continuer
                </button>
            </div>
        </form>
    </div>
</div>
<div id="fademe"></div>
{{changeBg()}}
