<div class='row'>
    <div class="col-md-10 col-md-offset-1">
        <form name="userCreationForm">
            <div class="col-xs-12 col-md-5 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de toi
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">Ta taille (oyo, qu'est ce qu'elle a sous son chapeau...)</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputProfileVal=='+200'?'active':'notactive'" ng-click="changeInputProfileVal('+200')">+200</li>
                            <li ng-class="inputProfileVal=='180-200'?'active':'notactive'" ng-click="changeInputProfileVal('180-200')">180-200</li>
                            <li ng-class="inputProfileVal=='170-180'?'active':'notactive'" ng-click="changeInputProfileVal('170-180')">170-180</li>
                            <li ng-class="inputProfileVal=='150-170'?'active':'notactive'" ng-click="changeInputProfileVal('150-170')">150-170</li>
                            <li ng-class="inputProfileVal=='Nain'?'active':'notactive'" ng-click="changeInputProfileVal('Nain')">Nain</li>
                            <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-2 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de l'autre
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">Sa taille</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputSearchVal=='+200'?'active':'notactive'" ng-click="changeInputSearchVal('+200')">+200</li>
                            <li ng-class="inputSearchVal=='180-200'?'active':'notactive'" ng-click="changeInputSearchVal('180-200')">180-200</li>
                            <li ng-class="inputSearchVal=='170-180'?'active':'notactive'" ng-click="changeInputSearchVal('170-180')">170-180</li>
                            <li ng-class="inputSearchVal=='150-170'?'active':'notactive'" ng-click="changeInputSearchVal('150-170')">150-170</li>
                            <li ng-class="inputSearchVal=='Nain'?'active':'notactive'" ng-click="changeInputSearchVal('Nain')">Nain</li>
                            <li ng-class="inputSearchVal==''?'active':'notactive'" ng-click="changeInputSearchVal('')">Je m'en tamponne l'oreille avec une babouche</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button ng-disabled="inputProfileVal == 'non' || inputSearchVal == 'non'" type="button" class="btn col-xs-4 col-xs-offset-4 btn-lg btn-white" ng-click='save();step("next")'>
                    Continuer
                </button>
            </div>
        </form>
    </div>
</div>
<div id="fademe"></div>
{{changeBg()}}
