<div class='row' ng-controller='userCreationController'>
    <div class="col-xs-12 col-md-8 col-md-offset-2 createAccount navbar-inverse">
        <div class="row">
            <div class="col-xs-4">
                <strong>Ta tronche</strong>
                <div class="pictureUserCreation">
                    <img src="" alt=""/>
                </div>
                <input type="file" ng-model='profil[picture]'/>
            </div>
            <div class="col-xs-8">
                <div class='row text-center'>
                    <div class='gender' style='background-color:#2964A3' ng-click='changeGender(1)'>&#9794;</div>
                    <div class='gender' style='background-color:#F152FF' ng-click='changeGender(0)'>&#9792;</div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Ville</span>
                    <input type="text" class="form-control" placeholder="La loupe..." ng-model='profil[city]' />
                </div>
                <br/>

                <label><input type="checkbox" ng-model='profil[major18]' />
                    Je certifie être majeur et être en condition physique et mentale pour rencontrer Maître Yoan</label>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom navbar-userCreation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">Je suis</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">Etape suivante</a>
            </li>
        </ul>
    </div>
</nav>
