<div class='row'>
    <div class="col-md-10 col-md-offset-1">
        <form name="userCreationForm">
            <div class="col-xs-12 col-md-5 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de toi
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">Ton poids ?</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputProfileVal=='-50'?'active':'notactive'" ng-click="changeInputProfileVal('-50')">Moins de 50</li>
                            <li ng-class="inputProfileVal=='50-60'?'active':'notactive'" ng-click="changeInputProfileVal('50-60')">50-60</li>
                            <li ng-class="inputProfileVal=='60-70'?'active':'notactive'" ng-click="changeInputProfileVal('60-70')">60-70</li>
                            <li ng-class="inputProfileVal=='70-80'?'active':'notactive'" ng-click="changeInputProfileVal('70-80')">70-80</li>
                            <li ng-class="inputProfileVal=='80-90'?'active':'notactive'" ng-click="changeInputProfileVal('80-90')">80-90</li>
                            <li ng-class="inputProfileVal=='90-100'?'active':'notactive'" ng-click="changeInputProfileVal('90-100')">90-100</li>
                            <li ng-class="inputProfileVal=='+100'?'active':'notactive'" ng-click="changeInputProfileVal('+100')">Plus de 100</li>
                            <li ng-class="inputProfileVal=='+9000'?'active':'notactive'" ng-click="changeInputProfileVal('+9000')">It's over 9000</li>
                            <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-2 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de l'autre
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">Son poids ?</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputSearchVal=='-50'?'active':'notactive'" ng-click="changeInputSearchVal('-50')">Moins de 50</li>
                            <li ng-class="inputSearchVal=='50-60'?'active':'notactive'" ng-click="changeInputSearchVal('50-60')">50-60</li>
                            <li ng-class="inputSearchVal=='60-70'?'active':'notactive'" ng-click="changeInputSearchVal('60-70')">60-70</li>
                            <li ng-class="inputSearchVal=='70-80'?'active':'notactive'" ng-click="changeInputSearchVal('70-80')">70-80</li>
                            <li ng-class="inputSearchVal=='80-90'?'active':'notactive'" ng-click="changeInputSearchVal('80-90')">80-90</li>
                            <li ng-class="inputSearchVal=='90-100'?'active':'notactive'" ng-click="changeInputSearchVal('90-100')">90-100</li>
                            <li ng-class="inputSearchVal=='+100'?'active':'notactive'" ng-click="changeInputSearchVal('+100')">Plus de 100</li>
                            <li ng-class="inputSearchVal=='+9000'?'active':'notactive'" ng-click="changeInputSearchVal('+9000')">It's over 9000</li>
                            <li ng-class="inputSearchVal==''?'active':'notactive'" ng-click="changeInputSearchVal('')">Je m'en fiche</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button ng-disabled="inputProfileVal == 'non' || inputSearchVal == 'non'" type="button" class="btn col-xs-4 col-xs-offset-4 btn-lg btn-white" ng-click='save();step("next")'>
                    Continuer
                </button>
            </div>
        </form>
    </div>
</div>
<div id="fademe"></div>
{{changeBg()}}