<div class='row'>
    <div class="col-md-10 col-md-offset-1">
        <form name="userCreationForm">
            <div class="col-xs-12 col-md-5 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de toi
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">Envie d'enfants?</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputProfileVal=='J\'en veux'?'active':'notactive'" ng-click="changeInputProfileVal('J\'en veux')">J'en veux</li>
                            <li ng-class="inputProfileVal=='Je n\'en veux pas'?'active':'notactive'" ng-click="changeInputProfileVal('Je n\'en veux pas')">Je n'en veux pas</li>
                            <li ng-class="inputProfileVal=='Je ne sais pas encore'?'active':'notactive'" ng-click="changeInputProfileVal('Je ne sais pas encore')">Je ne sais pas encore</li>
                            <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-2 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de l'autre
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">Il/elle à envie d'enfants?</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputSearchVal=='J\'en veux'?'active':'notactive'" ng-click="changeInputSearchVal('J\'en veux')">En veux</li>
                            <li ng-class="inputSearchVal=='Je n\'en veux pas'?'active':'notactive'" ng-click="changeInputSearchVal('Je n\'en veux pas')">N'en veux pas</li>
                            <li ng-class="inputSearchVal=='Je ne sais pas encore'?'active':'notactive'" ng-click="changeInputSearchVal('Je ne sais pas encore')">Ne sais pas encore</li>
                            <li ng-class="inputSearchVal==''?'active':'notactive'" ng-click="changeInputSearchVal('')">Je m'en fiche</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button ng-disabled="inputProfileVal == 'non' || inputSearchVal == 'non'" type="button" class="btn col-xs-4 col-xs-offset-4 btn-lg btn-white" ng-click='save();step("next")'>
                    Continuer
                </button>
            </div>
        </form>
    </div>
</div>
<div id="fademe"></div>
{{changeBg()}}