<div class='row'>
    <div class="col-xs-12 col-md-6 col-md-offset-3 createAccount navbar-inverse">
        <h1 class='text-center'>A propos
            <small>de toi</small>
        </h1>
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <form name="userCreationForm">
                    <div class="form-group">
                        <label class="control-label" for="convenant">Gardes-tu tes chaussettes ?</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon" ng-class='(userCreationForm.convenant.$dirty && userCreationForm.convenant.$error.pattern) ? "glyphicon-remove red" : datas.convenant ? "glyphicon-ok green" : "glyphicon-pencil"'></span>
                            </span>
                            <input required type="text" class="form-control" name="convenant" id="convenant" placeholder="Oui, non, seulement les jours de pleine lune..." ng-model='datas["convenant"]' ng-maxlength="12" ng-pattern="/^[A-Za-z0-9]+$/" ng-trim='false'/>
                        </div>
                    </div>
                </form>
                <br />
                MongoDB sait de toi que...<br />
                <code>{{datas}}</code>
            </div>
        </div>
        <button ng-disabled="userCreationForm.$invalid" type="button" class="userCreationNextBtn btn btn-block btn-lg btn-white" ng-click='step("next")'>
            Continuer
        </button>
    </div>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom navbar-userCreation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a>Etape 1</a>
            </li>
            <li>
                <a>Etape 2</a>
            </li>
            <li class="active">
                <a ng-click='step(3)'>Marié</a>
            </li>
        </ul>
        <div class="nav navbar-right">
            <p><b>{{datas.profile.firstname}}</b></p>
        </div>
    </div>
</nav>
