<div class='row'>
    <div class="col-md-10 col-md-offset-1">
        <form name="userCreationForm">
            <div class="col-xs-12 col-md-5 createAccount navbar-inverse">
                <h1 class='text-center'>A propos
                    <small>de toi</small>
                </h1>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-md-offset-1">
                        <div class="form-group">
                            <label class="control-label" for="inputProfileVal">La couleur de tes cheveux ?</label>
                            <select required class="form-control" name="inputProfileVal" id="inputProfileVal" ng-model='inputProfileVal'>
                                <option>Choisissez...</option>
                                <option value="Roses">Rosé pamplemouse</option>
                                <option value="Verts">Vert dur</option>
                                <option value="Blonds">Blond surfeur</option>
                                <option value="Blancs">Blancs en neige</option>
                                <option value="Bleus">Bleus chataîn</option>
                                <option value="Gris">Gris taupe-provenciale</option>
                                <option value="Vert">Vert de macédoine</option>
                                <option value="Brun">Brun terre de sienne</option>
                                <option value="Propres">Propre</option>
                                <option value="Stéphanie">Stéphanie de Monaco</option>
                                <option value="">J'en ai toujours pas</option>
                            </select>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-2 createAccount navbar-inverse">
                <h1 class='text-center'>Tu cherches
                    <small>qui, quoi ?</small>
                </h1>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-md-offset-2">
                        <div class="form-group">
                            <label class="control-label" for="inputSearchVal">La couleur se ses cheveux ?</label>
                            <select required class="form-control" name="inputSearchVal" id="inputSearchVal" ng-model='inputSearchVal'>
                                <option>Choisissez...</option>
                                <option value="Roses">Rosé pamplemouse</option>
                                <option value="Verts">Vert dur</option>
                                <option value="Blonds">Blond surfeur</option>
                                <option value="Blancs">Blancs en neige</option>
                                <option value="Bleus">Bleus chataîn</option>
                                <option value="Gris">Gris taupe-provenciale</option>
                                <option value="Vert">Vert de macédoine</option>
                                <option value="Brun">Brun terre de sienne</option>
                                <option value="Propres">Propre</option>
                                <option value="Stéphanie">Stéphanie de Monaco</option>
                                <option value="">J'en ai toujours pas</option>
                            </select>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button ng-disabled="userCreationForm.$invalid" type="button" class="btn col-xs-4 col-xs-offset-4 btn-lg btn-white" ng-click='save();step("next")'>
                    Continuer
                </button>
            </div>
        </form>
    </div>
</div>
