<div class='row'>
    <div class="col-md-10 col-md-offset-1">
        <form name="userCreationForm">
            <div class="col-xs-12 col-md-5 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de toi
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">Tes origines</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputProfileVal=='Breton'?'active':'notactive'" ng-click="changeInputProfileVal('Breton')">Bretonne</li>
                            <li ng-class="inputProfileVal=='Celte'?'active':'notactive'" ng-click="changeInputProfileVal('Celte')">Celte</li>
                            <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                            <li ng-class="inputProfileVal=='Germanique'?'active':'notactive'" ng-click="changeInputProfileVal('Germanique')">Germanique</li>
                            <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                            <li ng-class="inputProfileVal=='Romane'?'active':'notactive'" ng-click="changeInputProfileVal('Romane')">Romane</li>
                            <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                            <li ng-class="inputProfileVal=='Navarroise'?'active':'notactive'" ng-click="changeInputProfileVal('Navarroise')">Navarroise</li>
                            <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                            <li ng-class="inputProfileVal=='Occitano-catalane'?'active':'notactive'" ng-click="changeInputProfileVal('Occitano-catalane')">Occitano-catalane</li>
                            <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                            <li ng-class="inputProfileVal=='Gallo-italique'?'active':'notactive'" ng-click="changeInputProfileVal('Gallo-italique')">Gallo-italique</li>
                            <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                            <li ng-class="inputProfileVal=='Créole'?'active':'notactive'" ng-click="changeInputProfileVal('Créole')">Créole</li>
                            <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                            <li ng-class="inputProfileVal=='Polynésienne'?'active':'notactive'" ng-click="changeInputProfileVal('Polynésienne')">Polynésienne</li>
                            <li ng-class="inputProfileVal=='Basque'?'active':'notactive'" ng-click="changeInputProfileVal('Basque')">Basque</li>
                            <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-2 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de l'autre
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">Ses origines</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputSearchVal=='Breton'?'active':'notactive'" ng-click="changeInputSearchVal('Breton')">Bretonne</li>
                            <li ng-class="inputSearchVal=='Celte'?'active':'notactive'" ng-click="changeInputSearchVal('Celte')">Celte</li>
                            <li ng-class="inputSearchVal=='Basque'?'active':'notactive'" ng-click="changeInputSearchVal('Basque')">Basque</li>
                            <li ng-class="inputSearchVal=='Germanique'?'active':'notactive'" ng-click="changeInputSearchVal('Germanique')">Germanique</li>
                            <li ng-class="inputSearchVal=='Basque'?'active':'notactive'" ng-click="changeInputSearchVal('Basque')">Basque</li>
                            <li ng-class="inputSearchVal=='Romane'?'active':'notactive'" ng-click="changeInputSearchVal('Romane')">Romane</li>
                            <li ng-class="inputSearchVal=='Basque'?'active':'notactive'" ng-click="changeInputSearchVal('Basque')">Basque</li>
                            <li ng-class="inputSearchVal=='Navarroise'?'active':'notactive'" ng-click="changeInputSearchVal('Navarroise')">Navarroise</li>
                            <li ng-class="inputSearchVal=='Basque'?'active':'notactive'" ng-click="changeInputSearchVal('Basque')">Basque</li>
                            <li ng-class="inputSearchVal=='Occitano-catalane'?'active':'notactive'" ng-click="changeInputSearchVal('Occitano-catalane')">Occitano-catalane</li>
                            <li ng-class="inputSearchVal=='Basque'?'active':'notactive'" ng-click="changeInputSearchVal('Basque')">Basque</li>
                            <li ng-class="inputSearchVal=='Gallo-italique'?'active':'notactive'" ng-click="changeInputSearchVal('Gallo-italique')">Gallo-italique</li>
                            <li ng-class="inputSearchVal=='Basque'?'active':'notactive'" ng-click="changeInputSearchVal('Basque')">Basque</li>
                            <li ng-class="inputSearchVal=='Créole'?'active':'notactive'" ng-click="changeInputSearchVal('Créole')">Créole</li>
                            <li ng-class="inputSearchVal=='Basque'?'active':'notactive'" ng-click="changeInputSearchVal('Basque')">Basque</li>
                            <li ng-class="inputSearchVal=='Polynésienne'?'active':'notactive'" ng-click="changeInputSearchVal('Polynésienne')">Polynésienne</li>
                            <li ng-class="inputSearchVal=='Basque'?'active':'notactive'" ng-click="changeInputSearchVal('Basque')">Basque</li>
                            <li ng-class="inputSearchVal==''?'active':'notactive'" ng-click="changeInputSearchVal('')">Je m'en fiche</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button ng-disabled="inputProfileVal == 'non' || inputSearchVal == 'non'" type="button" class="btn col-xs-4 col-xs-offset-4 btn-lg btn-white" ng-click='save();step("next")'>
                    Continuer
                </button>
            </div>
        </form>
    </div>
</div>
<div id="fademe"></div>
{{changeBg()}}
