<div class='row'>
    <div class="col-md-10 col-md-offset-1">
        <form name="userCreationForm">
            <div class="col-xs-12 col-md-5 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de toi
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">Tes cheveux ?</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputProfileVal=='De la moquette'?'active':'notactive'" ng-click="changeInputProfileVal('De la moquette')">Je marche dessus</li>
                            <li ng-class="inputProfileVal=='Hyper longs'?'active':'notactive'" ng-click="changeInputProfileVal('Hyper longs')">Hyper longs</li>
                            <li ng-class="inputProfileVal=='Longs'?'active':'notactive'" ng-click="changeInputProfileVal('Longs')">Longs</li>
                            <li ng-class="inputProfileVal=='Moyens'?'active':'notactive'" ng-click="changeInputProfileVal('Moyens')">Moyens</li>
                            <li ng-class="inputProfileVal=='Courts'?'active':'notactive'" ng-click="changeInputProfileVal('Courts')">Courts</li>
                            <li ng-class="inputProfileVal=='Très courts'?'active':'notactive'" ng-click="changeInputProfileVal('Très courts')">Très courts</li>
                            <li ng-class="inputProfileVal=='Rasé'?'active':'notactive'" ng-click="changeInputProfileVal('Rasé')">Rasé</li>
                            <li ng-class="inputProfileVal=='Aucun'?'active':'notactive'" ng-click="changeInputProfileVal('Aucun')">Vous avez-dit cheveux ?</li>
                            <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-2 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de l'autre
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">Ses cheveux ?</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputSearchVal=='De la moquette'?'active':'notactive'" ng-click="changeInputSearchVal('De la moquette')">Je marche dessus</li>
                            <li ng-class="inputSearchVal=='Hyper longs'?'active':'notactive'" ng-click="changeInputSearchVal('Hyper longs')">Hyper longs</li>
                            <li ng-class="inputSearchVal=='Longs'?'active':'notactive'" ng-click="changeInputSearchVal('Longs')">Longs</li>
                            <li ng-class="inputSearchVal=='Moyens'?'active':'notactive'" ng-click="changeInputSearchVal('Moyens')">Moyens</li>
                            <li ng-class="inputSearchVal=='Courts'?'active':'notactive'" ng-click="changeInputSearchVal('Courts')">Courts</li>
                            <li ng-class="inputSearchVal=='Très courts'?'active':'notactive'" ng-click="changeInputSearchVal('Très courts')">Très courts</li>
                            <li ng-class="inputSearchVal=='Rasé'?'active':'notactive'" ng-click="changeInputSearchVal('Rasé')">Rasé</li>
                            <li ng-class="inputSearchVal=='Aucun'?'active':'notactive'" ng-click="changeInputSearchVal('Aucun')">Vous avez-dit cheveux ?</li>
                            <li ng-class="inputSearchVal==''?'active':'notactive'" ng-click="changeInputSearchVal('')">Je m'en fiche</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button ng-disabled="inputProfileVal == 'non' || inputSearchVal == 'non'" type="button" class="btn col-xs-4 col-xs-offset-4 btn-lg btn-white" ng-click='save();step("next")'>
                    Continuer
                </button>
            </div>
        </form>
    </div>
</div>
<div id="fademe"></div>
{{changeBg()}}
