<div class='row'>
    <div class="col-md-10 col-md-offset-1">
        <form name="userCreationForm">
            <div class="col-xs-12 col-md-5 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de toi
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">Quel est ton statut marital ?</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputProfileVal=='Jamais mariée'?'active':'notactive'" ng-click="changeInputProfileVal('Jamais mariée')">Jamais mariée</li>
                            <li ng-class="inputProfileVal=='Séparée'?'active':'notactive'" ng-click="changeInputProfileVal('Séparée')">Séparée</li>
                            <li ng-class="inputProfileVal=='Divorcée'?'active':'notactive'" ng-click="changeInputProfileVal('Divorcée')">Divorcée</li>
                            <li ng-class="inputProfileVal=='Veuf'?'active':'notactive'" ng-click="changeInputProfileVal('Veuf')">Veuf</li>
                            <li ng-class="inputProfileVal=='Mariée'?'active':'notactive'" ng-click="changeInputProfileVal('Mariée')">Mariée</li>
                            <li ng-class="inputProfileVal==''?'active':'notactive'" ng-click="changeInputProfileVal('')">Je le garde pour moi</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-2 createAccount navbar-inverse">
                <h1 class='text-center'>A propos de l'autre
                </h1>
                <div class="row">
                    <div class="col-md-4">
                        <label class="question">Quel est son statut marital ?</label>
                    </div>
                    <div class="col-md-8">
                        <ul class="customSelect">
                            <li ng-class="inputSearchVal=='Jamais mariée'?'active':'notactive'" ng-click="changeInputSearchVal('Jamais mariée')">Jamais mariée</li>
                            <li ng-class="inputSearchVal=='Séparée'?'active':'notactive'" ng-click="changeInputSearchVal('Séparée')">Séparée</li>
                            <li ng-class="inputSearchVal=='Divorcée'?'active':'notactive'" ng-click="changeInputSearchVal('Divorcée')">Divorcée</li>
                            <li ng-class="inputSearchVal=='Veuf'?'active':'notactive'" ng-click="changeInputSearchVal('Veuf')">Veuf</li>
                            <li ng-class="inputSearchVal=='Mariée'?'active':'notactive'" ng-click="changeInputSearchVal('Mariée')">Mariée</li>
                            <li ng-class="inputSearchVal==''?'active':'notactive'" ng-click="changeInputSearchVal('')">Je m'en fiche</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button ng-disabled="inputProfileVal == 'non' || inputSearchVal == 'non'" type="button" class="btn col-xs-4 col-xs-offset-4 btn-lg btn-white" ng-click='save();step("next")'>
                    Continuer
                </button>
            </div>
        </form>
    </div>
</div>
<div id="fademe"></div>
{{changeBg()}}